  {% block stylesheets %}
<!--  <link rel="stylesheet" href="{{ asset('assets/vendor/khipucss/default.css') }}"> -->
  {% endblock %}
    {% block body %}
    <header id="nav-header" class="clearfix">
      <div class="col-md-5">
        <nav class="navbar-default pull-left">
          <button type="button" class="navbar-toggle collapsed" data-toggle="offcanvas" data-target="#side-menu">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </nav>
        <input type="text" class="hidden-sm hidden-xs" id="header-search-field" placeholder="Buscar...">
      </div>
      <div class="col-md-7">
        <ul class="pull-right">
          <li class="fixed-width">
            <a href="#">
              <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
              <span class="label label-warning hidden-xs hidden-sm">3</span>
            </a>
          </li>
          <li class="fixed-width">
            <a href="#">
              <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
              <span class="label label-message hidden-xs hidden-sm">3</span>
            </a>
          </li>
          <li>
            <a href="{# { path('gestor_homepage') } #}" class="logout">
              <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
              log out
            </a>
          </li><script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
        </ul>

      </div>
      <div class="container" id="eltitulo">
      <h2>Gestor de datos de Colegiados</h2>

      </div>
    </header>

    {% endblock %}
